// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

@include mat.slide-toggle-density(-1);

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$my-theme: mat.define-theme((
        color: (
                theme-type: light,
                primary: mat.$m2-orange-palette,
        ),
        density: (scale : -3)
));


html {
  @include mat.all-component-themes($my-theme);
  --mat-select-panel-background-color: white
}
